USE [master]
GO
/****** Object:  Database [BD_PROM]    Script Date: 12/29/2020 20:11:11 ******/
CREATE DATABASE [BD_PROM] ON  PRIMARY 
( NAME = N'BD_PROM', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BD_PROM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_PROM_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BD_PROM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_PROM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_PROM]
GO
/****** Object:  Table [dbo].[tb_employees]    Script Date: 12/29/2020 20:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_name] [varchar](100) NULL,
	[employee_salary] [int] NULL,
	[employee_age] [int] NULL,
	[profile_image] [varchar](200) NULL,
 CONSTRAINT [PK_tb_employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_employees] ON
INSERT [dbo].[tb_employees] ([id], [employee_name], [employee_salary], [employee_age], [profile_image]) VALUES (99, N'luis', 10, 30, N'disrct')
INSERT [dbo].[tb_employees] ([id], [employee_name], [employee_salary], [employee_age], [profile_image]) VALUES (100, N'erickson', 5500, 31, N'sjm')
INSERT [dbo].[tb_employees] ([id], [employee_name], [employee_salary], [employee_age], [profile_image]) VALUES (101, N'ericksonX', 5500, 31, N'sjm')
SET IDENTITY_INSERT [dbo].[tb_employees] OFF
